---
---
$title-font: "Comic Sans MS", sans-serif
$default-font: "Times New Roman", serif
$title-shadow: red 2px 4px

body
  background-color: black
  background: url("../images/batsbg.gif")
  color: white
  font-family: $default-font
  image-rendering: pixelated
  padding: 2rem 50px

a
  color: dodgerblue
a:visited
  color: slateblue

.container
  max-width: 120ch
  margin: auto

  img.text3d
    width: 478px
    display: block
    margin: auto

.header
  display: flex
  flex-direction: row
  align-items: center
  gap: 2rem

  h1
    text-align: justify
    font-family: $title-font
    font-size: 2rem
    color: yellow
    animation: 1s infinite alternate glow

.the-list
  position: relative

  table#ranking
    width: 100%
    background: black
    margin: 2rem auto

    thead
      position: sticky
      top: 0
      background: black

    col.rank
      width: 8ch
    col.dev
      width: 20ch
    col.license
      width: 12ch
    
    td,th
      padding: 1ch

    td.rank,td.license
      text-align: center

    td.dev > ul
      margin: 0
      padding: 0 0 0 2ch
      list-style-type: circle

  img.medal
    width: 4ch

  img.seal
    width: 6ch
    vertical-align: middle

  img.thumbnail
    height: 3em
    border: none
    vertical-align: middle
    margin-right: 1ch

  img.garfield
    pointer-events: none
    position: absolute
    bottom: 20px
    left: calc(100% - 18px)

img.divider
  width: 100%


@keyframes glow
  from
    text-shadow: $title-shadow 8px
  to
    text-shadow: $title-shadow 1px
