---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#0cff00">
  <link rel="shortcut icon" href="assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#000000">


  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="assets/css/styles.css?{{ "now" | date: "%s" }}">
  <link rel="stylesheet" href="assets/css/tablesort.css?{{ "now" | date: "%s" }}">
</head>
<body>
  <div class="container">
    <img class="text3d" src="assets/images/science_crop.gif">
    {{ content }}
  </div>
  <script type="text/javascript" src="assets/js/tablesort.min.js"></script>
  <script type="text/javascript" src="assets/js/tablesort.number.min.js"></script>
  <script type="text/javascript" src="assets/js/tablesort.dotsep.min.js"></script>
  <script type="text/javascript">
    new Tablesort(document.getElementById('ranking'));
  </script>
</body>
</html>